.container-fluid{
  padding:0px;
}

.logoImg{max-width:70px;
border-radius: 15px;
}

.link-list {
  display:flex;
  list-style: none;
padding-inline-start: 500px;
}

li, a {text-decoration: none;}

.linkItem{
  padding:2px;
}

.Header {
  display: flex;
  flex-wrap: wrap;
}

.subTitle{
  text-align:center;
}
.title {  transition:  140ms ease-in-out 140ms;
   font-size: 25px;
  font-weight: 700;
}

footer {text-align: center;}